@import "./assets/styles/main.scss";

html, body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #263238;
  height: 100%;
  width: 100%;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}